monitor:
  image: treylitefm/monitor
  context: 
  build:
      context: monitor
      dockerfile: Dockerfile
  volumes:
      - $PWD/monitor/src:/var/monitor
      - $PWD/main/src/static:/var/monitor/static
  links:
      - hub
      - redis
  ports:
      - "6000:6000"
  expose:
      - "8080-9099"
  restart: always
hub:
  image: selenium/hub
  ports:
    - "4444:4444"
  restart: always
firefox:
  image: selenium/node-firefox
  links:
    - hub
    - monitor
  restart: always
chrome:
  image: selenium/node-chrome
  links:
    - hub
    - monitor
  restart: always
redis:
  container_name: redis-server
  image: redis
  ports:
    - "6379:6379"
