body {
 padding-bottom: 40px;
}

body > .container {
    margin-top: 50px;
}

form button {
    width: 100%;
}

form.pages button.save {
    width: 8%;
}


.error {
    color: white;
    background: red;
    border-radius: 5px;
    font-size: .9em;
    padding: 8px;
}

.status {
    border-radius: 5px;
}

.green {
    background: #00ff00;
}
.yellow {
    background: yellow;
}
.red {
    background: red;
}

.orange {
    background: orange;
}

h2 button {
    margin-left: 10px;
}

.thumb-wrapper {
    height: 400px;
    margin-bottom: 25px;
}

.thumb {
    width: 100%;
    height: 100%;
}

.browser-control {
    display: inline;
    width: 20%;
}
