{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'launchpad:new_app' %}" class="navbar-right btn btn-info">New App</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Your Apps</th>
                <th>Test Run Status</th>
                <th>Last Test Run</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            {% load humanize %}
            {% for app in apps reversed %}
            <tr>
                <td><a href="{% url 'launchpad:show_app' app_id=app.id %}">{{ app.name }}</a></td>
                {% if app.page_set.all.last.tests.all.last %}
                    {% for state,color in status.iteritems %}
                        {% if state == app.page_set.all.last.test_set.all.last.status %}
                        <td class="{{ color }} status"></td>
                        {% endif %}
                    {% endfor %}
                {% else %}
                        <td class="status"></td>
                {% endif %}
                <td>{{ app.page_set.all.last.test_set.all.last.created_on|naturaltime }}</td>
                <td>{{ app.created_on|naturaltime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
