{% extends 'base.html' %}

{% block content %}

<div class="container">
    <a href="{% url 'launchpad:new_app' %}" class="navbar-right btn btn-info">New App</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Your Apps</th>
                <th>Ping Health</th>
                <th>Test Run Status</th>
                <th>Last Test Run</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            {% for app in apps %}
            <tr>
                <td><a href="{% url 'launchpad:show_app' app_id=app.id %}">{{ app.name }}</a></td>
                <td class="status green"></td>
                <td class="status green"></td>
                <td>5 minutes ago</td>
                <td>{{ app.created_on }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="#">Checkered Windshields</a></td>
                <td class="status green"></td>
                <td class="status green"></td>
                <td>5 minutes ago</td>
                <td>August 5th, 2019</td>
            </tr>
            <tr>
                <td><a href="#">Checkered Windshields</a></td>
                <td class="status yellow"></td>
                <td class="status red"></td>
                <td>5 minutes ago</td>
                <td>August 5th, 2019</td>
            </tr>
            <tr>
                <td><a href="#">Checkered Windshields</a></td>
                <td class="status red"></td>
                <td class="status yellow"></td>
                <td>5 minutes ago</td>
                <td>August 5th, 2019</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
