{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2>{{ app.name }} ({{ app.get_protocol_display }}://{{ app.domain }}) <button class="new-page navbar-right btn btn-info">New Page</button></h2>
    <form class="pages" method="post" action="{% url 'launchpad:new_page' app_id=app.id %}">
        {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pages</th>
                <th>Ping Health</th>
                <th>Test Run Status</th>
                <th>Last Test Run</th>
                <th>Date Added</th>
                <th>Enable</th>
            </tr>
        </thead>
        <tbody>
            {% for page in app.page_set.all %}
            <tr>
                <td><a href="#">{{ page.path }}</a></td>
                <td class=""></td>
                <td class=""></td>
                <td>5 minutes ago</td>
                <td>{{ page.created_on }}</td>
                {% if page.enabled %}
                    <td><input type="checkbox" class="checked"></td>
                {% else %}
                    <td><input type="checkbox" class=""></td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr class="hidden">
                <td>{{ form.path }}</td>
            </tr>
        </tbody>
    </table>
        <button type="submit" class="save btn btn-info navbar-right hidden">Save</button>
    </form>
</div>

{% endblock %}
